.section-header {
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.name {
    margin-right: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.center {
    text-align: center;
}

.landf {
    background-color: rgb(101, 226, 226);
}

.comp {
    background-color: rgb(101, 226, 226);
}

.tools {
    background-color: rgb(101, 226, 226);
}

body {
    font-family: 'Roboto', sans-serif;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 60px;
    background-color: #343a40;
    color: white;
    text-align: center;
}

a {
    text-align: center!important;
    color: #4f90cd;
}

.card-header {
    background-color: #4f90cd;
    color: white;
}

.contact {
    width: 100%;
    left: 0;
    right: 0;
    color: #4f90cd;
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 32px;
}

i:hover {
    color: rgb(101, 226, 226);
}

